:root {
    --colour-neon: rgb(0, 47, 255);
    --colour-bg: hsl(323 21% 16%);
    --colour-O: rgb(118, 139, 255);
}


body {
    
    background-color: rgb(9, 4, 31);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0; 
    font-family: "Vibur", sans-serif;
    color: var(--colour-neon);
    font-size: 40px;
}

h1 {
    padding: 30px 0 30px 0;
    margin: 0;
    color: rgb(255, 192, 192);
    text-shadow: 0 40px 100px, 0 0 2px, 0 0 0.01em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
    
h1 > span {
    animation: blink linear infinite 2s;
}

h1 > span:first-child {
    animation: blink linear infinite 2s;
}



@keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: rgb(29, 29, 29);
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: rgb(29, 29, 29);
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: rgb(31, 31, 31);
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
}

    
main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}


.box {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 5px;
    font-family: "Vibur", sans-serif;
    font-size: 150px;
    border-radius: 3px;
    background-color: transparent;
    border: solid 5px var(--colour-neon);
    box-shadow:  0 0 .1em .01em var(--colour-neon);
    
    /* Neon Styling */
    color: rgb(216, 255, 214);
    text-shadow:0 0 0.1em var(--colour-O), 0 0 0.5em var(--colour-O), 0 0 0.1em var(--colour-O), 0 34px 11px #000;
}

.box:hover{

    background-color: black;
}

.box:nth-child(odd) {
    
    border: none 10px black;
}

.scoring {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;

}

.roundContainer {

    display: flex;
    
    font-family: "Vibur", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-shadow:0 0 0.01em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}


.p1-score {
    padding-right: 100px;
}

.draw {
    padding-right: 100px;
}

footer {
    display: flex;
    justify-content: space-evenly;
}


/* Neon Hover */


/* Reset and Start Buttons */

.resetGame {

    position: relative;
    border: var(--colour-neon) 3px solid;
    border-radius: 2px;
    height: 50px;
    width: 100px;
    color: var(--colour-neon);
    font-family: "Vibur", sans-serif;
    font-size: 20px;
    
    background-color: transparent;
    text-shadow: 0 0 .05em rgb(0, 0, 0), 0 0 .4em var(--colour-neon);
    box-shadow: inset 0 0 .9em 0 var(--colour-neon), 0 0 .9em 0 var(--colour-neon);
    transition: background-color 100ms linear;
}


/* Adds additional shadow/increases shadow*/
.resetGame::before {

    /* Pointer Events set to none stops the hover from taking effect when you 
    scroll over the bottom section of the shadow */
    pointer-events: none;
    content:'';
    position: absolute;
    background: var(--colour-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(3em) rotateX(50deg)scale(1.6, .6);
    filter: blur(.9em);
}

.resetGame::after {


    /* Creates the light below the reset game and add name buttons */
    content:'';
    position: absolute;  
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    box-shadow:  0 0 1.6em .2em var(--colour-neon);
    opacity: 0;
    transition: opacity 100ms linear;
    
}

.resetGame:hover, 
.resetGame:focus {

    /* Applies colour in and around the box on hover */
    background: var(--colour-neon);
    color: black;
    text-shadow: none;
}

.resetGame:hover::before {
    opacity: 1;
}

.resetGame:hover::after {
    opacity: 1;
    

}


.X {

    color: rgb(255, 214, 214);
    text-shadow:0 0 0.1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 34px 11px #000;
}


/* Blocks any cursor clicking  */

.O:active {
    pointer-events: none;

}


/* Pop up styling */

.swal-text {
    color: white;
}

.swal-modal {
    
    background-color: rgb(28, 28, 28);
    border: 3px solid rgb(28, 28, 28);
    font-family: 'Rubik', sans-serif;
  
}

.swal-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    margin-top: 32px;
    border-top: 1px solid rgb(28, 28, 28);
    overflow: hidden;
}

.swal-button {
   
    color: white;
    background-color: black;
    
}















